<%- include('partials/header/header.ejs') %>
  <body>
    <%- include('partials/body/navbar.ejs') %>
    <%- include('partials/body/content-post.ejs') %>
    <%- include('partials/body/scripts.ejs') %>
    
   
  </body>
</html>
