<li>
    <a
      style="display: none;"
      class="waves-effect waves-light modal-trigger green-text accent-4-text logged-out"
      href="#modal1"
      >Registrar</a
    >
    <div id="modal1" class="modal">
      <div class="modal-content">
        <h4 class="green-text center-align">Formulario de registro</h4>
        <div class="row container">
          <form id="singup-form" class="col s12">
            <div class="row">
              <!-- <div class="input-field col s12">
                <input id="first_name" type="text" class="validate" />
                <label for="first_name">First Name</label>
              </div> -->
              <!-- <div class="input-field col s12">
                <input id="last_name" type="text" class="validate" />
                <label for="last_name">Last Name</label>
              </div> -->
            </div>
            <div class="row">
              <div class="input-field col s12">
                <input id="email" type="email" class="validate" required />
                <label for="email">Email</label>
              </div>
              <!-- <div class="input-field col s12">
                <input id="userName" type="text" class="validate" />
                <label for="userName">Username</label>
              </div> -->
            </div>
            <div class="row">
              <div class="input-field col s12">
                <input
                  id="password"
                  type="password"
                  class="validate"
                  required
                />
                <label for="password">Password</label>
              </div>
            </div>
            <div class="center-align">
              <button
                class="btn green accent-4  waves-effect"
                type="submit"
              >
                Registrar
              </button>
              <button class="btn red modal-close waves-effect">
                Cerrar
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </li>