<li>
    <a class="waves-effect waves-light green-text accent-4-text modal-trigger logged-in" href="#modal4" style="display: none;">Account</a>
    <div id="modal4" class="modal">
      <div  class="modal-content">
        <h4 class="deep-purple-text accent-4-text center-align">Account</h4>
        <div class="center-align" id="account-info">

        </div>
      </div>
    </div>
   </li>
